body::before{
    display: block;
    content: '';
    height: 65px;
}

@media(min-width: 768px){
    .new-input{
        width: 50%;
        
    }
    .features-inner .btngroup-1{
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.header{
    padding: 0 45px;
    background-color:#6e7399 ;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
}

body{
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: large;
    
}

.btnitem1{
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block
    
    
}

.btn_1 .btn_1-1{
    transition: all 0.8s ease-out;
}


.btnitem1:hover{
   
    transform: rotate(2deg);
    color: #000;
}



.btn{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block
    
}
.btn:hover{
    color: #fff;
    transform: translateY(5deg);
}

.features{
    background-color: #e8eaf6;
    padding: 60px 45px;
   
}


.features h1{
    text-align: center;
    color:#283593 ;
}

.features-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;

}

.featured-item h3{
    color: #283593;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}
.featured-item p{
    margin: 0;
    line-height: 1.6;
    color: #333;
}

.footer{
    text-align: center;
    padding: 20px 0;
    color: #999;
    font-size: .9rem;
    
}


.portfolio{
    padding: 65px 45px;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.btnitem1{
    color: red;
    text-align: center;
}



.img--1_1{
    max-width: 150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
  
}
